<ion-pane md-theme ="amber">

    <ion-side-menus>
        <!-- Center content -->
        <ion-side-menu-content>
            <ion-header-bar class="bar bar-header bar-energized">
                <div class="buttons">
                    <button class="button " ng-click="toggleActionsMenu()"><i class="icon ion-navicon-round"></i></button>
                </div>
                <h1 class="title">{{currentPatient.name}}</h1>
                <div class="buttons">
                    <button class="button " ng-click="togglePatientsList()"><i class="icon ion-person-stalker"></i></button>
                </div>
            </ion-header-bar>
            <!--Dashboard content will go here-->
            <!--<ion-nav-view name="glucose"></ion-nav-view>-->
            <!--Patient Info Card -->
            <ion-content>
                <!--Vitals Info Card-->
                <div class="list card">
                    <div class="item item-avatar">
                        <img ng-src="{{currentPatient.photo}}">
                        <div class="bold-label">{{currentPatient.name}}</div>
                        <p class="sub-label">{{currentPatient.gender}} - {{currentPatient.age}} old</p>
                    </div>
                    <div class="item item-body">
                        <div layout="row" layout-phone="row">
                            <div flex layout="column" style="border-right: 1px solid rgb(180, 180, 180);">
                                <!-- Weight & BMI-->
                                <div flex layout="column" layout-align="center center" style="border-bottom: 1px solid rgb(180, 180, 180);">
                                    <div class="bold-label">{{latestVitals.weight}}</div>
                                    <div class="sub-label">Weight ({{latestVitals.weightunit}})</div>
                                </div>
                                <div flex layout="column" layout-align="center center">
                                    <div layout="row" class="padding" layout-phone="column" layout-align="center center"><div class="sub-label">BMI :</div><div class="bold-label">{{latestVitals.bmi}}</div></div>

                                    <div layout="row" layout-phone="column" layout-align="center center" ng-show="latestVitals.bmi < 18.5"><div class="sub-label"> Condition :</div><div class="bold-label">Underweight</div></div>
                                    <div layout="row" layout-phone="column" layout-align="center center" ng-show="latestVitals.bmi > 18.5 && latestVitals.bmi <= 25 "><div class="sub-label"> Condition :</div><div class="bold-label">Normal</div></div>
                                    <div layout="row" layout-phone="column" layout-align="center center" ng-show="latestVitals.bmi > 25 && latestVitals.bmi <= 30 "><div class="sub-label"> Condition :</div><div class="bold-label">Overweight</div></div>
                                    <div layout="row" layout-phone="column" layout-align="center center" ng-show="latestVitals.bmi > 30"><div class="sub-label"> Condition :</div><div class="bold-label">Obese</div></div>
                                </div>
                            </div>
                            <div flex layout="row" layout-align="center center">
                                <!-- Height-->
                                <div layout="row">
                                    <img ng-show="currentPatient.gender=='male'" ng-src="img\male.png" style="height:150px;width:auto;margin:10px">
                                    <img ng-show="currentPatient.gender=='female'" ng-src="img\female.png" style="height:150px;width:auto;margin:10px">
                                </div>
                                <div layout="column" layout-align="center center">
                                    <div><img src="img\arrow-up.png" style="height:40px;width:15px;margin:10px"></div>
                                    <div class="bold-label">{{latestVitals.height}}</div>
                                    <div class="sub-label">Height ({{latestVitals.heightunit}})</div>
                                    <div><img src="img\arrow-down.png" style="height:40px;width:15px;margin:10px"></i></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--Glucose Info Card-->
                <div class="list card" ng-show="glucose">
                    <div class="item item-body">
                        <div layout="row" layout-phone="row">
                            <div flex="70" layout="column" style="">
                                <!-- Glucose Reading-->
                                <div layout="column" layout-align="center center" class="digital-display">
                                    <div style="height:55px; padding-top:5px;"><span class="secondary-label">{{enums.glucoseTypes[glucose.type].short_label}}</span></div>
                                    <div layout="row" layout-phone="column" layout-align="center center">
                                        <span class="primary-label">{{glucose.glucosevalue}}</span>
                                        <span class="secondary-label">mg/dL</span>
                                    </div>
                                </div>
                                <div class="item tabs " style="height:100px">
                                    <div layout="row" layout-align="center center" class="tab-item">
                                        <md-button class="md-fab ion-ios-arrow-left SmallFab " aria-label="Previous" ng-disabled="!isPreviousGlucoseAvailable" ng-click="getPreviousGlucose()" ng-disabled="glucose.isFirstEntry"></md-button>
                                    </div>
                                    <div layout="row" layout-align="center center" class="tab-item">
                                        <md-button class="md-fab ion-ios-plus-outline MediumFab" aria-label="Add" ng-click="addNewGlucoseEntry()"></md-button>
                                    </div>
                                    <div layout="row" layout-align="center center" class="tab-item">
                                        <md-button class="md-fab ion-ios-arrow-right SmallFab" aria-label="Next" ng-disabled="!isNextGlucoseAvailable" ng-click="getNextGlucose()" ng-disabled="glucose.isLastEntry"></md-button>
                                    </div>
                                </div>
                            </div>
                            <div flex layout="column" layout-align="center center">
                                <!-- Glucose type & Time-->
                                <div style="border-bottom: 1px solid rgb(180, 180, 180); width:100%">
                                    <!--<div class="bold-label">_-^-`\_</div>-->
                                    <div ng-click="openTrend()" jq-sparkline sparkline-config="glucoseTrend.options" ng-model="glucoseTrend.data" class="GlucoseSparkline"></div>
                                </div>
                                <div class="sub-label">Measured on</div>
                                <div>
                                    <date-time-box ng-model="glucose.datetime" box-size="20px" box-positioning="inline-flex" style="margin-left:10px"></date-time-box>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
                <!--Notifications Info Card-->
                <div class="list card" ng-show="notificationsList.length">
                    <div class="item item-divider">  Notifications   </div>
                    <div class="item item-body">
                        <md-list>
                            <md-item ng-repeat="notification in notificationsList | limitTo:3" ng-click="showNotificationDetails(notification,$event)">
                                <md-item-content>
                                    <md-button class="button-full menu-button">
                                        <div layout="row" class="list-row">
                                            <img ng-src="{{enums.notificationType[notification.notificationType].image}}" style="height:50px;width:50px;margin:5px">
                                            <div layout="column" layout-align="center start">
                                                <div class="menu-title">{{notification.title}}</div>
                                                <div class="menu-sub-title">{{notification.text}} </div>
                                                <div class="menu-sub-title">{{notification.startdate | prettifyDate:'calendar'}} </div>
                                            </div>
                                        </div>
                                    </md-button>
                                </md-item-content>
                            </md-item>
                        </md-list>
                    </div>
                </div>

            </ion-content>
        </ion-side-menu-content>

        <!-- Left menu -->
        <ion-side-menu side="left">
            <!--Dashboard left menu containing patient specific actions [Add medical data, appointments, medications e.t.c]-->
            <ion-content>
                <md-list>
                    <md-item ng-repeat="menuItem in menuItems">
                        <md-item-content>
                            <md-button menu-close ng-click="activateMenuItem(menuItem.id)" class="button-full menu-button">
                                <div layout="row">
                                    <i class="menu-icon" ng-class="menuItem.icon"></i>
                                    <div layout="column">
                                        <div class="menu-title">{{menuItem.title}}</div>
                                        <div class="menu-sub-title">{{menuItem.subTitle}}</div>
                                    </div>
                                </div>
                            </md-button>
                        </md-item-content>
                    </md-item>
                </md-list>
            </ion-content>
        </ion-side-menu>

        <!-- Right menu -->
        <ion-side-menu side="right">
            <!--Dashboard Right menu containing Patient List-->
            <ion-content>
                <md-list>
                    <md-item ng-repeat="patient in patients">
                        <md-item-content>
                            <md-button menu-close ng-click="switchDashboardForPatient(patient.id)" class="button-full menu-button">
                                <div layout="row">
                                    <img flex="20" ng-src="{{patient.photo}}" style="height:70px;width:70px;margin:10px">
                                    <div layout="column" layout-align="center start">
                                        <div class="menu-title">{{patient.name}}</div>
                                        <div class="menu-sub-title">{{patient.gender}} - {{patient.age}}</div>
                                    </div>
                                </div>
                            </md-button>
                        </md-item-content>
                    </md-item>
                </md-list>
            </ion-content>
        </ion-side-menu>
    </ion-side-menus>
</ion-panemd-theme>
