<ion-pane md-theme="amber">
<ion-header-bar class="bar bar-header bar-energized">
    <div class="buttons">
        <button class="button " ng-click="navigateBack()"><i class="icon ion-arrow-return-left"></i></button>
    </div>
    <h1 class="title"><center><b>{{currentPatient.name}} - {{trendType}} Trend</b></center></h1>
</ion-header-bar>
<ion-scroll direction="y" style="height:100%">
    <md-content class="content has-header " layout="column" style="height:auto;" >
        <highchart id="vitalsTrend" config="vitalsChartConfig"></highchart>
        <md-whiteframe class="md-whiteframe-z1" layout layout-align="center center">
             <span> If the lines stay in the Green area, then you are Good </span>
        </md-whiteframe>
    </md-content>
</ion-scroll>
    </ion-pane>
