<ion-pane>
    <ion-side-menus>        
        <ion-side-menu-content >
            <!--<ion-content>-->
            <ion-header-bar class="bar bar-header bar-energized">
                <div class="buttons">
                    <button class="button " ng-click="toggleActionsMenu()"><i class="icon ion-navicon-round"></i></button>
                </div>
                <h1 class="title"><center><b>Vitals - {{currentPatient.name}}</b></center></h1>
                <div class="buttons">
                    <button class="button " ng-click="newVitals()"><i class="icon ion-plus-round"></i></button>
                </div>
            </ion-header-bar>
            <ion-content direction="y" style="height:100%">
                <div class="content " layout="column" layout-sm="column" style="height:auto;">
                    <div class="list card">
                        <div class="item item-body" ng-include="'views/vitals/vitals_snapshot_card.html'"></div>
                    </div>
                </div>
                <div class="content has-header " layout-align="center center" layout="row" layout-sm="column" style="height:auto;">
                    <div flex layout="column" layout-sm="column" layout-align="center center" class="padding " ng-show="{{vitals.bpsystolic > 0}}">
                        <div class=""><center><h1> Systolic BP  </h1></center></div>
                        <div ng-model="vitals.bpsystolic" jquery-dynameter jquery-dynameter-config="{ label:'Systolic BP', unit:'mm Hg', min:80, max:210, regions:{ 80:'normal', 120:'warn', 160:'error' } }"></div>
                        <div layout="row" layout-sm="row" layout-align="center center" class="padding range" style="width:300px" ng-show="false">
                            <i class="icon ion-minus-circled"></i>
                            <!--<input type="range" name="height" min="80" max="210" ng-change="validate()" ng-model="vitals.bpsystolic" >-->
                            <md-slider name="bpsystolic" aria-label="BP-Systolic" min="80" max="210" ng-change="validate()" ng-model="vitals.bpsystolic" style="width:100%"> </md-slider>
                            <i class="icon ion-plus-circled"></i>
                        </div>
                    </div>
                    <!--div flex layout="column" layout-phone="column" layout-align="center center" class="padding "--><!--Padding--><!--/div-->
                    <div flex layout="column" layout-sm="column" layout-align="center center" class="padding " ng-show="{{vitals.bpdiastolic > 0}}">
                        <div class=" "><center><h1> Diastolic BP  </h1></center></div>
                        <div ng-model="vitals.bpdiastolic" jquery-dynameter jquery-dynameter-config="{ label:'Diastolic BP', unit:'mm Hg', min:40, max:140, regions:{ 40:'normal', 80:'warn', 99:'error' } }"></div>
                        <div layout="row" layout-sm="row" layout-align="center center" class="padding range" style="width:300px" ng-show="false">
                            <i class="icon ion-minus-circled"></i>
                            <!--<input type="range" name="height" min="40" max="140" ng-change="validate()" ng-model="vitals.bpdiastolic" >-->
                            <md-slider name="height" aria-label="BP-Diastolic" min="40" max="140" ng-change="validate()" ng-model="vitals.bpdiastolic" style="width:100%"> </md-slider>
                            <i class="icon ion-plus-circled"></i>
                        </div>
                    </div>

                </div>
            </ion-content>
            <!--</ion-content>-->
        </ion-side-menu-content>

        <!-- Left menu -->
        <ion-side-menu side="left">
            <!--Dashboard left menu containing patient specific actions [Add medical data, appointments, medications e.t.c]-->
            <ion-content>
                <md-list>
                    <md-item ng-repeat="menuItem in menuItems">
                        <md-item-content>
                            <md-button menu-close ng-click="activateMenuItem(menuItem.id)" class="button-full menu-button">
                                <div layout="row">
                                    <i class="menu-icon" ng-class="menuItem.icon"></i>
                                    <div layout="column">
                                        <div class="menu-title">{{menuItem.title}}</div>
                                        <div class="menu-sub-title">{{menuItem.subTitle}}</div>
                                    </div>
                                </div>
                            </md-button>
                        </md-item-content>
                    </md-item>
                </md-list>
            </ion-content>
        </ion-side-menu>
    </ion-side-menus>
</ion-pane>
