<md-list>
    <md-item ng-repeat="meal in mealsList|orderBy:'datetime':true">
        <md-item-content>
            <md-button menu-close ng-click="onSelectMeal(meal.id,meal.mealSummary)" class="button-full menu-button">
                <div layout="row" class="list-row">
                    <date-time-box ng-model="meal.datetime" box-size="20px" box-positioning="inline-flex" class=""></date-time-box>
                    <div flex layout="column" layout-align="center start">
                        <div class="menu-title">{{meal.mealSummary}}</div>
                        <div class="menu-sub-title">Total of {{meal.totalCalories}} Cal</div>
                    </div>
                </div>
            </md-button>
        </md-item-content>
    </md-item>
</md-list>