<md-dialog aria-label="About D-Care" style="width:100%;padding:0px;">
    <!--<md-toolbar>
        <div class="md-toolbar-tools">
            <h2>About D-Care </h2>
            <span flex></span>
            <md-button class="md-icon-button ion-close-round" ng-click="closeDialog()">
            </md-button>
        </div>
    </md-toolbar>-->
    <md-dialog-content>
        <!--<ion-scroll direction="y" style="height:95%" class="content has-header">-->
            <md-content class="content" layout="column" layout-sm="column" style="height:auto;" layout-align="start center">
                <div layout="column" layout-sm="column" class="padding ">

                    <div layout="row" layout-sm="row">
                        <div flex="40" class="padding ">
                            <img src="img\logo.png" alt="App Logo" style="height:100px" />
                        </div>
                        <div flex="70" class="padding">
                            <div layout="column" layout-sm="column">
                                <div style="font-size: 30px;font-weight: bold;margin-top: 22px;">D-Care</div>
                                <div style="font-size: 14px;text-align: center;margin-top: 7px;">Ver. 1.0.0</div>
                            </div>
                        </div>
                    </div>
                    <div class="padding" style="font-size:11px">COPYRIGHT © 2016 ALL RIGHTS RESERVED</div>
                    <div style="font-size:18px;">&quot; A Diabetes management solution to help people ease their sruggle against Diabetes &quot;</div>
                    <div>
                        <div layout layout-align="start start" class="padding">
                            <span>Developer: </span>
                            <div layout="column" layout-sm="column">
                                <div style="font-size: 20px;padding-left:3px;">Nozel Rosario</div>
                                <div style=""><a href="mailto:nozelrosario@gmail.com"> nozelrosario@gmail.com </a></div>
                            </div>
                        </div>
                    </div>
                </div>
            </md-content>
        <!--</ion-scroll>-->
    </md-dialog-content>
</md-dialog>
