<md-bottom-sheet class="md-grid">
    <md-list layout="row" layout-align="center center">
        <md-list-item>
            <md-button class="md-grid-item-content" ng-click="actionClicked('delete')">
                <i class="icon ion-android-delete" style="font-size:50px;"></i>
                <div class="md-title"> Delete </div>
            </md-button>
        </md-list-item>
        <md-list-item>
            <md-button class="md-grid-item-content" ng-click="actionClicked('edit')">
                <i class="icon ion-compose" style="font-size:50px;"></i>
                <div class="md-title"> Edit </div>
            </md-button>
        </md-list-item>
    </md-list>
</md-bottom-sheet>