<ion-pane md-theme="amber">
    <ion-header-bar class="bar bar-header bar-energized">
    <h1 class="title">D-Care</h1>
    </ion-header-bar>

<!--    <form style="padding: 20px;" md-theme="amber">-->
    <ion-scroll direction="y" style="height:90%">
    <md-content class="content has-header has-footer" layout-align="center center" layout-lg="row" layout-md="column" style="height:auto;" >
        
        <div layout="column" layout-sm="column"  layout-align="center center" class="padding " style="height:220px; width:auto" >
            <div class="padding"><center><h2> What is your Height ? </h2></center></div>
            <div layout="row" layout-sm="row"  layout-align="center center" class="padding range" style="width:300px">
                <i class="icon ion-minus-circled"></i>
                <input type="range" name="height" min="145" max="230" ng-change="calculateBMI()" ng-model="vitals.height" >
                <i class="icon ion-plus-circled"></i>
            </div>
            <h1><b><input ng-model="vitals.height" add-clear add-clear-config="{returnFocus:false, showOnLoad:true, hidOnBlur:false }" style="border-bottom: 1px solid rgb(163, 157, 157) !important; width: 150px; background-color:#ffffff; border:none; text-align:center;font-weight:bold;"/></b>
            <select disabled>
              <option selected>Cm</option>
              <option >Feet</option>
              <option>Inches</option>
            </select>
            </h1>
        </div>
        <div flex layout="column" layout-sm="column"  layout-align="center center" class="padding " style="height:350px;"  >
            <div class="padding"><center><h1> What is your Weight ? </h1></center></div>
            <div layout="row" class="padding"  >
                <input id="age" type="text" ng-model="vitals.weight" data-displayInput="true"  jquery-knob jquery-knob-config="{width:200, angleArc:250, step:1, angleOffset:-125, lineCap:'round', min:20, max:200, displayInput:false, cursor:true }"/>
            </div>
            <h1><b><input ng-model="vitals.weight" add-clear add-clear-config="{returnFocus:false, showOnLoad:true, hidOnBlur:false }" style="border-bottom: 1px solid rgb(163, 157, 157) !important; width: 150px; background-color:#ffffff; border:none; text-align:center;font-weight:bold;"/></b>
            <select disabled>
              <option selected>Kg</option>
              <option >Pound</option>
            </select>
            </h1>
        </div>
        
    </md-content>
    </ion-scroll>
    
<!--    </form>-->
    <div class="bar bar-footer" style="height:70px" layout >
        <!--<button class="button icon-right ion-chevron-right button-energized button-block button-large">Proceed</button>-->
        <div flex>
            <md-button class="md-raised button-block button-large"  ng-click="skipAndProceed()"> <b> Skip and Proceed </b>
                <span class="ion-button-style next-arrow"></span>
            </md-button> 
        </div>
        <div flex>
            <md-button class="md-primary md-raised button-block button-large"  ng-click="saveAndProceed()"> <b> Save and Proceed </b> 
                <span class="ion-button-style next-arrow"></span>
            </md-button>
        </div>
    </div>
</ion-pane>
