<ion-pane md-theme="amber">
    <ion-header-bar class="bar bar-header bar-energized">
        <md-button class="button" ng-click="navigateBack()" aria-label="Back">
            <span class="ion-button-style ion-chevron-left"></span>
        </md-button>
        <h1 class="title"><center><b>D-Care</b></center></h1>
        <md-button class="button" ng-click="proceed()" aria-label="Save">
            <b> Start </b>
            <span class="ion-button-style ion-chevron-right"></span>
        </md-button>
    </ion-header-bar>
    <ion-scroll direction="y" style="height:99%">
        <md-content class="content has-header has-footer" layout-align="center center" layout-lg="row" layout-md="column" style="height:auto;">
            <div class="fade-animation" ng-class="{'fade-in': true }">
                <center><h1> {{welcomeTitle}} </h1></center>
                <div class="padding" ng-repeat="introductionTextLines in introductionText">
                    <h3> {{introductionTextLines.textLine}} </h3>
                </div>
            </div>
        </md-content>
    </ion-scroll>
</ion-pane>