.ion-button-style
{
    display: inline-block;
    font-family: "Ionicons";
    speak: none;
    font-style: normal;
    font-weight: bold;
    font-variant: normal;
    text-transform: none;
    text-rendering: auto;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.next-arrow:after
{
    content: "\f125";
}

.ExtremeLargeFab 
{
    width:150px !important;
    height:150px !important;
    margin:10px !important;
}

.ExtremeLargeFab:before
{
    font-size:150px !important;    
}

.LargeFab 
{
    width:100px !important;
    height:100px !important;
    margin:8px !important;
}

.LargeFab:before
{
    font-size:100px !important;    
}

.MediumFab 
{
    width:80px !important;
    height:80px !important;
}

.MediumFab:before
{
    font-size:70px !important;        
}

.SmallFab 
{
    width:50px !important;
    height:50px !important;
}

.SmallFab:before
{
    font-size:50px !important;  
    margin-top: -5px;  
}

.menu-button .menu-title
{
    text-align: left;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    text-transform:capitalize;
    font-weight:bold;
    font-size: 18px;
}

.menu-button .menu-icon
{
    font-size: 40px;
    padding: 5px;
}

.menu-button .menu-sub-title 
{
    font-size: 14px;
    color: rgb(150, 150, 150);
    text-transform: capitalize;
    padding-left: 10px;
    text-align: left;
}