.ion-button-style
{
    display: inline-block;
    font-family: "Ionicons";
    speak: none;
    font-style: normal;
    font-weight: bold;
    font-variant: normal;
    text-transform: none;
    text-rendering: auto;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.next-arrow:after
{
    content: "\f125";
}



.GenderOptionButton 
{
    width:150px !important;
    height:150px !important;
    margin:10px !important;
}

.GenderOptionButton:before
{
    font-size:150px !important;
    font-size:150px !important;
    
}