.large-input{
    margin-top:10px !important;
    font-size: 2em;
}

.large-input[mobiscroll-date-time] {
    text-align:center;
}

.large-input label{ }

.large-input input
{
    border-bottom: 1px solid rgba(180, 180, 180, 0.32);  /*workaround-- as ionic overides material theme css*/
    font-size: .8em;
    height:2.3em;
}

.large-input textarea
{
    border-bottom: 1px solid rgba(180, 180, 180, 0.32);  /*workaround-- as ionic overides material theme css*/
    font-size: .8em;
    height:2.3em;
}

.large-input md-select md-select-label {
    height: 40px;
    width: 100%;
    font-size: 0.8em;
}
.large-input md-select md-select-label.md-placeholder {
    font-size: 20px;
    height: 40px;
    width: 100%;
}

.datetime-input 
{
    display: block;
    border-width: 0 0 1px 0;
    padding-top: 2px;
    padding-bottom: 2px;
    border-bottom-style: solid;
    border-bottom-color: rgba(0, 0, 0, 0.5);
    font-size: 1.3em;
    text-align: center;
    min-width: 300px;
    cursor: pointer !important;
    background-color : transparent !important;
}