/*Overriden Defaults*/

/*.md-char-counter {
    display:none;
}*/


.bold-label 
{
    font-weight: bolder;
    font-size: 100%;
    padding: 5px;
}

.sub-label {
   font-size: 13px;
   padding: 3px;
   color: rgb(150, 150, 150);
}

.digital-display 
{
    font-family: 'ds-digital';
    border-radius: 12px 12px 0 0;
    background-color: rgb(226, 226, 226);
    border:1px solid #ddd;
    /*margin-right: 15px;*/
    padding-bottom: 10px;
}

.digital-display .primary-label
{
    font-size: 7em;
    height:50px;
    padding:5px;
}

.digital-display .secondary-label
{
    font-size: 1.5em;
    padding:5px;
    height:35px;
}

.validation-error {
    color:red;
    text-align:center;
}