.list-row {
    border-bottom: 1px solid rgba(180, 180, 180, 0.32);
    padding-bottom: 5px;
    margin-bottom: 5px;
}

md-list > md-item > md-item-content > button {
    margin:0px 0px 8px 0px !important;
}

.list-icon {
    width:70px;
    height:70px;
}